<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
</head>
<body>
<div class="container p-5 my-5 border" th:fragment="client">
    <form class="form-floating row bg-3" th:object="${client}" name="client"
      hx-target="#modalSwap"
      hx-post="/submitClient"  
      hx-swap="outerHTML">

        <div class="col-md-11">
            <div class="form-outline">
            <input type="text" class="form-control" id="NazwaBox" name="name" th:value="${client?.name}" placeholder="Nazwa..." required />
            <label for="NazwaBox" class="form-label">Nazwa</label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group form-outline">
                <input type="checkbox" class="form-check-input" id="isActiveBox" name="active" aria-describedby="inputGroupPrepend2" th:value="${client?.active}" checked />
                <label for="isActiveBox" class="form-label">Aktywny</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="ktoDoKontaktuBox" name="personToContact" value="" placeholder="Osoba do kontaktu..." required />
                <label for="ktoDoKontaktuBox" class="form-label">Osoba do kontaktu</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="addressBox" name="address" th:value="${client?.address}" placeholder="adres..." required />
                <label for="addressBox" class="">adres</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="nipBox" name="nip" th:value="${nip}" placeholder="Nip..." required />
                <label for="nipBox" class="form-label">Nip</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="emailBox" name="email" th:value="${client?.email}" placeholder="email..." required />
                <label for="emailBox" class="form-label">email</label>
            </div>
        </div>
        <input id="hiddenInput" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="col-12">
            <input class="btn btn-primary" type="submit" value="uaktualnij dane"  
              data-bs-toggle="modal" 
              data-bs-target="#clientStatusModal" 
            />
        </div>
    </form>

    <th:block th:replace="~{fragments\popups :: clientStatus}"></th:block>

    <div id="clientProductsTable" th:unless="${addClient}">
        <th:block th:replace="~{fragments\client.html :: clientProducts}"></th:block>
    </div>
    
    <div id="clientFakturyTable" th:unless="${addClient}">
        <th:block th:replace="~{fragments\client.html :: clientFaktury}"></th:block>
    </div>

</div>

<div th:fragment="clientProducts" class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produkt</th>
            <th scope="col">Cena j.netto</th>
            <th scope="col">Ilość</th>
            <th scope="col">Stawka Vat</th>
            <th scope="col">Vat</th>
            <th scope="col">Cena netto</th>
            <th scope="col">Cena brutto</th>
            <th scope="col">Edytuj</th>
          </tr>
        </thead>
        <tbody>
          <th th:if="${products.isEmpty()}" scope="row" colspan="9">There are no products for this client</th>
          <tr th:each="product : ${products}">
            <th scope="row" th:text="${products.indexOf(product)} + 1"></th>
            <td th:text="${product.productEnum}"></td>
            <td th:text="${product.unitPrice}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.vatRate}"></td>
            <td th:text="${product.vatAmout}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.priceWithVat}"></td>
            <td><button type="button" class="btn btn-primary btn-sm">edytuj</button></td>
          </tr>
        </tbody>
      </table>
      <button th:unless="${addProduct}" type="button" class="btn btn-primary btn-sm" 
        th:attr="hx-get=|/addProduct/${client.nip}|"
        hx-target="#mainContent"
        >dodaj produkt</button>
</div>

<div th:fragment="clientFaktury" class="table-responsive" id="clientFaktury">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Numer</th>
            <th scope="col">Data wystawienia</th>
            <th scope="col">Cena brutto</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="faktura : ${invoices}">
            <th scope="row" th:text="${invoices.indexOf(faktura)} + 1"></th>
            <td th:text="${faktura.number}"></td>
            <td th:text="${faktura.date}"></td>
            <td th:text="${faktura.priceWithTax}"></td>
          </tr>
        </tbody>
    </table>
      
    <div th:unless="${onlyUtilitiesInvoices}" class="">
        <button class="btn btn-primary" type="submit" 
          th:attr="hx-get=|/sendInvoice/${client?.nip}|"
          hx-target="#clientFaktury"
          >wyślij fakturę czynszową</button>
        <button class="btn btn-primary" type="submit" 
          th:attr="hx-get=|/getUtility/${client?.nip}|"
          hx-target="#mainContent"
          >wyślij fakturę za media</button>
    </div>
</div>
</body>
</html>
