<div class="container p-5 my-5 border" th:fragment="client">
    <form class="form-floating row bg-3">
        <div class="col-md-11">
            <div class="form-outline">
            <input type="text" class="form-control" id="NazwaBox" th:value="${client?.name}" placeholder="Nazwa..." required />
            <label for="NazwaBox" class="form-label">Nazwa</label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group form-outline">
                <input type="checkbox" class="form-check-input" id="isActiveBox" aria-describedby="inputGroupPrepend2" th:value="${client?.active}" checked required />
                <label for="isActiveBox" class="form-label">Aktywny</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="ktoDoKontaktuBox" value="" placeholder="Osoba do kontaktu..." required />
                <label for="ktoDoKontaktuBox" class="form-label">Osoba do kontaktu</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="addressBox" th:value="${client?.address}" placeholder="adres..." required />
                <label for="addressBox" class="">adres</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="nipBox" th:value="${nip}" placeholder="Nip..." required />
                <label for="nipBox" class="form-label">Nip</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="emailBox" th:value="${client?.email}" placeholder="email..." required />
                <label for="emailBox" class="form-label">email</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">uaktualnij dane</button>
        </div>
    </form>
    <th:block th:replace="~{fragments\client.html :: clientProducts}"></th:block>
</div>

<div th:fragment="clientProducts">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produkt</th>
            <th scope="col">Cena j.netto</th>
            <th scope="col">Ilość</th>
            <th scope="col">Stawka Vat</th>
            <th scope="col">Vat</th>
            <th scope="col">Cena netto</th>
            <th scope="col">Cena brutto</th>
            <th scope="col">Edytuj</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="product : ${products}">
            <th scope="row" th:text="${products.indexOf(product)} + 1"></th>
            <td th:text="${product.productEnum}"></td>
            <td th:text="${product.unitPrice}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.vatRate}"></td>
            <td th:text="${product.vatAmout}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.priceWithVat}"></td>
            <td><button type="button" class="btn btn-primary btn-sm">edytuj</button></td>
          </tr>
        </tbody>
      </table>
</div>


