<div class="container p-5 my-5 border" th:fragment="client">
    <form class="form-floating row bg-3">
        <div class="col-md-11">
            <div class="form-outline">
            <input type="text" class="form-control" id="NazwaBox" value="Mark" required />
            <label for="NazwaBox" class="form-label">Nazwa</label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group form-outline">
                <input type="checkbox" class="form-check-input" id="isActiveBox" aria-describedby="inputGroupPrepend2" value="yes" checked required />
                <label for="isActiveBox" class="form-label">Aktywny</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="ktoDoKontaktuBox" value="Otto" required />
                <label for="ktoDoKontaktuBox" class="form-label">Osoba do kontaktu</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-outline">
                <input type="text" class="form-control" id="addressBox" value="Grabiszyńska 279/14, Wrocław 53-234" required />
                <label for="addressBox" class="">adres</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="nipBox" value="1234567890" required />
                <label for="nipBox" class="form-label">Nip</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline">
                <input type="text" class="form-control" id="emailBox" value="exampleemal@gmail.com" required />
                <label for="emailBox" class="form-label">email</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">uaktualnij dane</button>
        </div>
    </form>
</div>
